body {
    text-align: center;
    background-color: #457b9d;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1d3557;
}

#humanScoreBanner {
    color: #e63946;
}

#humanScorePoints {
    color: #e63946;
}

#robotScoreBanner {
    color: #e63946;
}

#robotScorePoints {
    color: #e63946;
}

p {
    font-size: 2em;
    font-weight: bold;
    color: black;
}


.container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding-top: 100px;
    margin: auto;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn {
    margin: 25px;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.btn:hover {
    border-color: #a8dadc;
}

.rock {
    background-image: url("rock.png")
}

.paper {
    background-image: url("paper.png")
}

.scissors {
    background-image: url("scissors.png")
}

#roundWinner {
    padding: 50px;
    
}